.wishlist-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #cc0000;
}

.wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wishlist-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0;
    color: #333;
}

.item-details p {
    margin: 5px 0;
    color: #666;
}

.add,
.remove {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.add {
    background-color: green;
    color: white;
}

.remove {
    background-color: red;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
}