.card {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: #333333;
    box-shadow: 0 2px 5px rgba(178, 19, 19, 0.789);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #555555;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.counter {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.counter button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter span {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    margin: 0 10px;
}

.wishlist-btn {
    background-color: transparent;
    color: #cc0000;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 24px;
}

.wishlist-btn svg {
    vertical-align: middle;
}

.addtocart-btn {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #611313;
}

@media (max-width: 1024px) {
    .card {
        width: 30%;
    }

    .card img {
        height: 220px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }

    .card img {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 80%;
    }

    .card img {
        height: 220px;
    }
}